# Define build environment variables
IMAGE_NAME=tst/demo
USER=www-data
GROUP=www-data

NGINX_PORT=80

# Don't want nginx variables to be replaced when env variables are expanded
FASTCGI_SCRIPT_FILENAME='$document_root$fastcgi_script_name'
FASTCGI_URI='$uri'
FASTCGI_URI_ARGS='$args'